# Whisper
WHISPER_MODEL = mlx-community/whisper-large-v3-turbo
WHISPER_PORT  = 8001
WHISPER_LANG = fr

# Flux
FLUX_PORT=8002
FLUX_MODEL=madroid/flux.1-schnell-mflux-4bit

# Sharp
SHARP_PORT=8003

# SAM 3D
SAM3D_PORT=8005

# Birefnet
BIREFNET_PORT=8006

# Ollama
OLLAMA_HOST=http://host.docker.internal:11434

# Headroom
HEADROOM_PORT=8004